---
const { data } = Astro.props;

import "../styles/general.css";
---

<a data-filter={data.month} href={`events/${data.slug}`}>
<article>
  <img src={"/public/img/" + `${data.image}`} alt="img_event" />
  <div class="text">
    <p>Dato: {data.dato}</p>
   <b><p>{data.price}kr.</p></b> 
  </div>
</article>
</a>

<style>
  article {
    width: 180px;
    color: white;
    padding: 5px;
    white-space: nowrap;
    margin-left: 5px;
    margin-right: 5px;
    
  }


  a{
    text-decoration: none;
    display: none;
    
  
  }
  .show{
    display: block;
  }

  p {
    font-size: var(--font-size-p-mobile);
    color: var(---red);
  }

  .text {
    border-left: 2px solid var(---red);
      border-right: 2px solid var(---red);
      border-bottom: 2px solid var(---red);
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media (min-width: 800px) {
    article {
      width: 260px;
      color: white;
      white-space: nowrap;
      padding: 10px;
    }

    .text {
     
      display: flex;
      justify-content: center;
      gap: 80px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
</style>
