---
import "../../styles/general.css";
import Mainlayout from "../../layouts/mainlayout.astro";
import Buttons from "../../components/Buttons.astro";
import Header from "../../components/Header.astro";

export async function getStaticPaths() {
  const data = await fetch("https://fkvbxsksimndhsbkchww.supabase.co/rest/v1/events", {
    method: "GET",
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZrdmJ4c2tzaW1uZGhzYmtjaHd3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU4NjAzNjIsImV4cCI6MjAzMTQzNjM2Mn0.I7TEX9S8OxEgBrIqbrRGY80VTS1Du_GIGu_tTfMhudk",
    },
  }).then((response) => response.json());

  return data.map((event) => {
    return {
      params: { slug: event.slug },
      props: { myData: event },
    };
  });
}

const { myData } = Astro.props;
console.log(myData);
---

<Mainlayout>
  <Header />

  <article class="grid_singleview">
    <div>
      <img  width="500" height="auto"  src={"/img/" + `${myData.image}`} alt="" />
    </div>
    <div class="text">
      <h1>{myData.name}</h1>

      <p>{myData.description}</p>

     

      <h1 class="praktiskinfo">PRAKTISK INFO</h1>
     
      <p> <b>Dato:</b> {myData.dato}</p>
      <p><b>Tidspunkt:</b> {myData.Time}</p>
      <p><b>Lokation:</b> {myData.location}</p>
      <p><b>Pris:</b> {myData.price} kr</p>

      <p class="last">{myData.information}</p>

      <a href="/tak"><Buttons class="button" variant="secondary" size="medium">Tilmeld dig her</Buttons></a>
    </div>
  </article>
</Mainlayout>

<style>
  img {
    display: block;
    margin: auto;
    /* width: 50%; */
    padding-top: 40px;
  }

  .grid_singleview{
margin: 0 100px 100px 100px;
  }

  p {
    text-align: justify;
    margin-bottom: 10px;
    font-size: var(--font-size-p-mobile);
  }

  h1 {
    font-family: roboto;
    font-weight: 400;
    margin-top: 60px;
    font-size: var(--font-size-h1-mobile);
  }

  .flex_01 {
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
  }

  .small {
    margin: 0 0;
  }

  .small::after {
    content: "/";
    margin-left: 5px;
    margin-right: 5px;
  }

  /* .text {
margin: 0 120px 120px 120px;
  } */

  .last {
    margin-bottom: 30px;
    margin-top: 30px;
  }

 

  @media (min-width: 800px) {
    .grid_singleview {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 100px;
      gap: 40px;
      margin-top: 40px;
    }

    h1 {
      margin-bottom: 5px;
      margin-top: 0;
      /* margin-top: 20px; */
      font-size: var(--font-size-h1-desktop);
    }

    .praktiskinfo{
        margin-top:60px; ;
    }
p{
  font-size: var(--font-size-p-desktop);
}
    /* .text {
margin-top: 20px;
    margin-bottom: 60px;
    margin-right:  8rem;
    margin-left: 0;
  } */

  img {
    display: block;
    padding-top: 0;
    margin: auto;
    min-width: 60%;
    max-width: 400px;
  
  
  }
  }
</style>
